<a href="{{this.link}}" class="agenda-block agenda-block--small">
  <div class="agenda__inner">
    <p class="agenda__date">
      {{this.weekdayShort}}
      <span>{{this.day}} {{this.month}}</span>
    </p>
    <div class="agenda__content">
      <p class="agenda__title">
        {{this.title}}
      </p>
      <span class="agenda__subtitle">{{this.genre}}</span>
      <span class="agenda__subtext">{{this.subtext}}</span>
      <span class="agenda__price">{{this.price}}</span>
      <span class="agenda__time">{{#if this.door}}Deur open: {{this.door}} uur{{/if}}<br>{{#if this.start}}Aanvang: {{this.start}} uur{{/if}}</span>
    </div>
  </div>
</a>