<section class="header header--home">
  <figure class="header__figure" style="background-image:url('assets/images/elektra-bg.jpg')">
  </figure>
  <div class="row">
    <div class="columns small-24 large-14 large-offset-1 end">
      <p class="header__title">Het <span>poppodium</span> voor en door jongeren in <span>Sliedrecht</span></p>
      <ul class="header__joinlist">
        <li><a href="over-elektra.php" class="btn btn-primary"><span clas="icon icon-mail"></span>Meer over Elektra</a></li>
        <li><a href="vrijwilliger-worden.php" class="btn btn-primary"><span clas="icon icon-mail"></span>Vrijwilliger worden bij Elektra</a></li>
      </ul>
      <ul class="header__contactlist">
        <li><a href="google-maps.php" class="btn btn-primary"><span class="icon icon-pin"></span>Stationsweg 4, Sliedrecht</a></li>
        <li><a href="mailto:bestuur@sojs.nl" class="btn btn-primary"><span clas="icon icon-mail"></span>bestuur@sojs.nl</a></li>
        <li><a href="tel:031184414273" class="btn btn-primary"><span class="icon icon-phone"></span>+31184 - 414273</a></li>
      </ul>
    </div>
  </div>

  <div class="section-today">
    <div class="row">
      {{#if upcoming.title}}
        <div class="columns small-24 large-14 float-right">
          <a href="{{upcoming.link}}" class="event-block">
            <div class="today">
              <p class="today__title">Upcoming<span>{{upcoming.weekday}} {{upcoming.day}} {{upcoming.month}}</span></p>
              <ul class="today__info">
                <li>deur open:<span>{{upcoming.door}} uur</span></li>
                <li>start:<span>{{upcoming.start}} uur</span></li>
                <li>entree:<span>{{upcoming.price}}</span></li>
              </ul>
            </div>
            <figure class="event__bg" style="background-image:url('assets/images/{{upcoming.image-big}}')"></figure>
            <p class="event__title">{{upcoming.title}}</p>
            <p class="event__subtitle">{{upcoming.genre}}</p>
          </a>
        </div>
      {{/if}}
      <div class="columns small-24 large-9 large-pull-1 xlarge-pull-0">
        <div class="highlighted-newsitem">
          <span>het laatste nieuws</span>
          <h2>{{highlightedNews.title}}</h2>
          <p>{{highlightedNews.intro}}</p>
          <a href="{{highlightedNews.link}}" class="btn btn-primary dark">Lees meer</a>
        </div>
      </div>
    </div>
  </div>
</section>